@import "./base.css";
/* src/assets/styles.css or src/main.css */

/* Tailwind's base styles */
@tailwind base;
/* Tailwind's component styles */
@tailwind components;

/* Tailwind's utility styles */
@tailwind utilities;

#app {
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
